@import '@/assets/scss/variables/media';
@import '@/assets/scss/variables/classes';
@import '@/assets/scss/variables/colors';

#{$footer} {
  padding: 0 30px 34px;
  position: relative;
  
  &__slider {
    padding-bottom: 74px;
    position: relative;
    z-index: 10;
    
    &-navigation {
      display: flex;
      justify-content: flex-end;
      column-gap: 8px;
      align-items: center;
      margin-bottom: 20px;
    }
    
    &-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 8px;
      width: 100%;
      margin-top: 28px;
    }
    
    &-bullet {
      width: 10px;
      height: 10px;
      display: block;
      background-color: $light-accent;
      border-radius: 50%;
      
      &_active {
        background-color: $accent;
      }
    }
    
    &-wrapper {
      height: fit-content;
    }
    
    &-slide {
      display: flex;
      width: 100%;
    }
  }
  
  &__copyright {
    opacity: .4;
    color: $blue;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    position: relative;
    z-index: 10;
  }
  
  &__background {
    position: absolute;
    padding-bottom: 12px;
    bottom: 0;
    left: 4px;
    right: 7px;
    background: linear-gradient(180deg, #fff 0%, #f6faff 100%);
    
    svg {
      width: 100%;
      
      path.with-fill {
        fill: $blue;
      }
    }
  }
}

@media (max-width: #{$mediaMD}) {
  #{$footer} {
  }
}

@media (max-width: #{$mediaSM}) {
  #{$footer} {
    padding: 0 16px 26px;
    
    &__slider {
      padding-bottom: 40px;
      
      &-navigation {
        display: none;
      }
      
      &-pagination {
        margin-top: 16px;
      }
      
      &-bullet {
        width: 10px;
        height: 10px;
      }
      
      &-slide {
        flex-direction: column;
        row-gap: 22px;
      }
    }
    
    &__copyright {
      font-size: 12px;
      max-width: 195px;
    }
    
    &__background {
      left: 4px;
      right: 1px;
      padding-bottom: 5px;
    }
  }
}
