<div class="advantage">
  <div class="advantage__icon">
    <svg>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{this.iconID}}"/>
    </svg>
  </div>
  <p class="advantage__title">{{this.title}}</p>
  <p class="advantage__description">{{this.description}}</p>
</div>
