<div class="tmpl-hh-footer">
  <div class="tmpl-hh-footer__slider swiper">
    <div class="tmpl-hh-footer__slider-navigation swiper-navigation">
      {{> slider-button modifier='prev' rotate=1}}
      {{> slider-button modifier='next'}}
    </div>
    <div class="tmpl-hh-footer__slider-wrapper swiper-wrapper">

      <div class="tmpl-hh-footer__slider-slide swiper-slide">
        {{> advantage this.footerSliderItems.wallet}}
        {{> advantage this.footerSliderItems.schedule}}
        {{> advantage this.footerSliderItems.car}}
      </div>

      <div class="tmpl-hh-footer__slider-slide swiper-slide">
        {{> advantage this.footerSliderItems.student mod='_two-in-line'}}
        {{> advantage this.footerSliderItems.coffee mod='_two-in-line'}}
      </div>


    </div>
    <div class="tmpl-hh-footer__slider-pagination swiper-pagination"></div>
  </div>
  <p class="tmpl-hh-footer__copyright">
    ООО &#171;Фреш маркет&#187; работает под брендом &#171;ДА!&#187;
  </p>

  <div class="tmpl-hh-footer__background">
    <svg viewBox="0 0 679 371" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g opacity="0.03">
        <path class="with-fill" d="M319.659 347.726V287.955C319.659 279.461 317.918 271.058 314.546 263.268C312.233 257.94 308.852 253.147 304.613 249.189C300.374 245.231 295.367 242.192 289.906 240.262C289.906 217.522 289.906 178.323 289.906 178.057C289.906 133.815 289.597 90.3252 289.597 52.4981C289.597 45.2866 289.597 38.2964 289.597 31.6158C289.731 26.4187 288.522 21.2754 286.089 16.6858C283.656 12.0963 280.081 8.21675 275.712 5.42441C270.801 2.50907 265.197 0.980414 259.491 1.00019H156.92C143.923 1.1226 131.081 3.84495 119.145 9.00803C108.154 13.6991 98.5231 21.1033 91.1479 30.5325C83.7728 39.9616 78.8928 51.1093 76.9615 62.9393C71.5839 92.7143 66.2504 143.77 51.6604 194.073C48.4022 205.92 44.1405 217.465 38.9217 228.582C37.3322 231.932 35.4438 235.13 33.2796 238.138C32.4862 239.112 31.8691 239.775 31.6046 240.085C4.23175 254.464 -0.308351 279.461 0.30875 286.362V287.336V309.988L0.000200832 351.487C-0.01141 354.045 0.480537 356.58 1.44779 358.947C2.41505 361.313 3.83856 363.465 5.63658 365.278C7.4346 367.091 9.5717 368.529 11.9252 369.511C14.2787 370.492 16.8021 370.998 19.3507 370.998H65.4129C73.1364 371.078 80.7384 369.066 87.4177 365.172C94.097 361.279 99.6062 355.649 103.365 348.877C106.022 344.135 107.799 338.948 108.61 333.569H216.162C216.814 339.635 218.776 345.486 221.913 350.712C225.049 355.939 229.284 360.416 234.322 363.831C240.402 367.919 247.467 370.288 254.775 370.688H256.582H287.437C292.58 370.838 297.724 370.423 302.776 369.449C305.766 368.812 308.608 367.611 311.151 365.91C313.828 364.056 316.024 361.588 317.558 358.709C319.091 355.831 319.917 352.627 319.967 349.363C320.011 348.7 320.011 348.035 319.967 347.372M186.188 237.696H159.741H147.487C152.905 220.103 157.32 202.215 160.711 184.119C166.75 153.459 171.422 120.941 174.331 98.9524V97.9791C175.345 91.2985 176.094 92.3161 177.813 90.9003C178.769 90.397 179.794 90.0392 180.855 89.8385H181.56H185.968L186.188 237.696Z"/>
        <path d="M299.783 352.679V289.231C299.783 289.231 300.708 258.217 274.754 258.217H269.819C268.849 258.217 269.422 258.217 269.819 258.217C269.819 198.934 269.819 40.847 269.819 32.2514C269.954 30.7453 269.758 29.2277 269.246 27.806C268.733 26.3842 267.916 25.093 266.853 24.0237C265.79 22.9544 264.505 22.133 263.091 21.6178C261.677 21.1025 260.168 20.9059 258.67 21.0418H157.32C157.32 21.0418 104.178 19.1809 95.6292 67.121C90.5618 95.6103 85.0095 148.114 69.8511 200.396C61.3906 229.683 50.771 252.678 40.68 257.995C17.9865 270.135 19.2644 287.946 19.2644 287.946V311.252L19 352.989H63.3736C88.7551 352.989 88.9313 331.279 88.9313 327.025C88.9313 324.81 88.9313 315.505 88.9313 315.505H234.346C234.346 318.961 234.346 323.259 234.346 326.405C234.346 354.362 255.85 352.989 255.85 352.989H286.696C301.898 352.989 299.915 352.989 299.915 352.989M241.353 73.0581C227.736 77.4888 204.999 89.5402 204.999 121.574V257.242C200.592 258.128 119.116 257.729 116.384 257.685C117.536 255.572 118.878 253.57 120.394 251.703C135.993 225.828 148.816 140.449 154.588 96.8509C154.787 89.9887 157.584 83.4618 162.408 78.6033C167.232 73.7448 173.718 70.9214 180.543 70.7098H247.345C247.345 70.7098 247.345 71.1972 241.573 73.0581" fill="white"/>
        <path class="with-fill" d="M655.822 227.047C660.539 223.207 663.753 217.818 664.899 211.831C665.78 207.408 665.868 204.754 666.221 201.924V200.906C666.441 197.5 668.865 161.363 671.244 124.827C673.624 88.2918 675.915 52.0658 675.959 44.3695C676.708 26.9864 666.441 11.2398 654.632 5.75505C646.401 1.76298 637.329 -0.164649 628.193 0.13761C628.193 0.13761 586.683 -0.172013 578.399 0.13761C574.463 0.141408 570.622 1.34449 567.383 3.58769C563.693 6.10357 561.008 9.8481 559.803 14.1591C559.211 16.0612 558.943 18.0502 559.01 20.042C559.01 23.3594 569.762 186.398 570.115 197.987C570.687 204.533 569.63 210.062 574.786 220.103C576.644 223.27 579.189 225.976 582.233 228.02C572.383 235.929 565.286 246.769 561.963 258.983C560.6 264.014 559.918 269.206 559.936 274.42C560.005 290.23 566.306 305.371 577.46 316.534C588.614 327.698 603.716 333.977 619.468 334C632.403 334.022 644.993 329.811 655.33 322.004C665.668 314.198 673.188 303.223 676.753 290.741C676.753 290.387 676.973 290.033 677.061 289.724C678.361 284.712 679.012 279.554 679 274.375C679.017 265.229 676.936 256.202 672.916 247.995C668.896 239.787 663.047 232.619 655.822 227.047Z"/>
        <path d="M630.274 234.931C622.626 232.895 614.55 233.183 607.064 235.756C599.579 238.329 593.021 243.073 588.218 249.389C583.415 255.704 580.584 263.308 580.081 271.239C579.578 279.171 581.426 287.074 585.393 293.95C589.359 300.827 595.265 306.368 602.365 309.875C609.465 313.381 617.44 314.696 625.283 313.651C633.126 312.607 640.485 309.252 646.43 304.009C652.376 298.765 656.641 291.87 658.687 284.193C661.376 273.877 659.899 262.912 654.578 253.685C649.256 244.459 640.521 237.718 630.274 234.931ZM600.674 212.84L638.631 212.575C646.856 213.061 646.328 208.554 647.427 199.32C647.867 192.296 657.104 56.7912 657.104 45.6133C657.104 20.0764 634.145 21.0043 626.975 21.0043C621.566 21.0043 591.789 21.0043 580.442 21.3577C580.09 21.3577 589.546 184.52 589.942 196.979C590.338 209.438 591.217 212.796 600.718 212.751" fill="white"/>
        <path class="with-fill" d="M593.434 308.618L519.426 55.97L517.882 50.5372C515.441 41.738 511.385 33.4702 505.922 26.1557C499.938 17.9208 492.063 11.2467 482.962 6.69592C473.861 2.14517 463.8 -0.148775 453.627 0.00747989H433.945C422.77 0.067898 411.815 3.11786 402.215 8.84134C388.313 16.9243 374.545 33.0461 368.101 57.8251L294.756 308.618C293.926 311.466 293.777 314.469 294.321 317.385C294.866 320.301 296.088 323.047 297.889 325.403C299.709 327.77 302.049 329.686 304.727 331.003C307.406 332.32 310.351 333.004 313.335 333H362.32C368.814 333.018 375.23 331.593 381.106 328.828C386.983 326.063 392.173 322.027 396.301 317.011C400.657 311.518 403.909 305.233 405.878 298.504L412.806 274.917H471.544C472.787 274.924 474.027 274.821 475.251 274.608L482.003 297.002C483.367 303.629 486.222 309.858 490.351 315.215C494.481 320.573 499.776 324.918 505.834 327.92C512.202 330.863 519.083 332.528 526.09 332.823H527.9H574.678C577.662 332.824 580.606 332.139 583.284 330.822C585.961 329.505 588.302 327.59 590.124 325.226C591.916 322.866 593.132 320.119 593.676 317.205C594.22 314.291 594.077 311.29 593.258 308.442M440.52 180.174L444.051 168.072L448.199 182.162C445.695 181.3 443.128 180.635 440.52 180.174Z"/>
        <path d="M500.002 292.347C504.409 313.381 522.435 313.558 527.062 314H574L500.31 61.189L498.723 55.6652C498.723 55.6652 489.909 19.0317 453.108 19.0317H434.641C434.641 19.0317 398.854 16.2477 386.161 62.8682L313 314H361.084C380.784 314 385.588 297.34 386.998 292.921L397.84 255.802H471.002C466.594 196.852 433.011 198.708 433.011 198.708H414.544L443.588 99.3249L500.002 292.347Z" fill="white"/>
      </g>
    </svg>
  </div>
</div>
