<div class="tmpl-hh-header">
  <div class="tmpl-hh-header__slider swiper">
    <div class="tmpl-hh-header__slider-wrapper swiper-wrapper">
      <div class="tmpl-hh-header__slider-slide swiper-slide" data-with-video="true">
        <video
          muted
          playsinline=""
        >
          <source src="/assets/images/one-day.mp4" type="video/mp4"/>
          Твой браузер не поддерживает тег video
        </video>
      </div>
      {{#each this.headerSliderPhotos.blue}}
        <div class="tmpl-hh-header__slider-slide swiper-slide">
          <img src="{{this}}" alt="slide">
        </div>
      {{/each}}
    </div>
    <div class="tmpl-hh-header__slider-navigation swiper-navigation">
      {{> slider-button modifier='prev' rotate=1}}
      {{> slider-button modifier='next'}}
    </div>
    <div class="tmpl-hh-header__slider-pagination swiper-pagination"></div>
  </div>
</div>
