<button class="slider-button{{#if this.rotate}} slider-button_rotate{{/if}}{{#if modifier}} slider-button_{{this.modifier}}{{/if}}">
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6.47799 2.334L11.66 7.65C11.751 7.74338 11.8019 7.86861 11.8019 7.999C11.8019 8.12939 11.751 8.25463 11.66 8.348L6.47799 13.666C6.43559 13.7095 6.3849 13.7442 6.32891 13.7678C6.27292 13.7914 6.21276 13.8036 6.15199 13.8036C6.09122 13.8036 6.03106 13.7914 5.97507 13.7678C5.91908 13.7442 5.86839 13.7095 5.82599 13.666C5.73877 13.5767 5.68994 13.4568 5.68994 13.332C5.68994 13.2072 5.73877 13.0873 5.82599 12.998L10.699 7.999L5.82599 3.001C5.73907 2.91175 5.69043 2.79209 5.69043 2.6675C5.69043 2.54292 5.73907 2.42325 5.82599 2.334C5.86839 2.29046 5.91908 2.25585 5.97507 2.23222C6.03106 2.20859 6.09122 2.19641 6.15199 2.19641C6.21276 2.19641 6.27292 2.20859 6.32891 2.23222C6.3849 2.25585 6.43559 2.29046 6.47799 2.334Z"/>
  </svg>
</button>
